<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.yz.entity.Resources" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="RES_NAME" property="resName" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="RES_TYPE" property="resType" jdbcType="VARCHAR" />
    <result column="RES_STATE" property="resState" jdbcType="DECIMAL" />
    <result column="PID" property="pid" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
    
    <result column="role_id" property="roleid" jdbcType="DECIMAL" />
     
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RES_NAME, URL, RES_TYPE, RES_STATE, PID, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yz.entity.ResourcesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_SYS_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_RESOURCES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SYS_RESOURCES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yz.entity.ResourcesExample" >
    delete from T_SYS_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yz.entity.Resources" >
    insert into T_SYS_RESOURCES (ID, RES_NAME, URL, 
      RES_TYPE, RES_STATE, PID, 
      CREATE_DATE, UPDATE_DATE)
    values (#{id,jdbcType=DECIMAL}, #{resName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{resType,jdbcType=VARCHAR}, #{resState,jdbcType=DECIMAL}, #{pid,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yz.entity.Resources" >
    insert into T_SYS_RESOURCES
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="resName != null" >
        RES_NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="resType != null" >
        RES_TYPE,
      </if>
      <if test="resState != null" >
        RES_STATE,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     seq_hr.nextval,
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resState != null" >
        #{resState,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yz.entity.ResourcesExample" resultType="java.lang.Integer" >
    select count(*) from T_SYS_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYS_RESOURCES
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.resName != null" >
        RES_NAME = #{record.resName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.resType != null" >
        RES_TYPE = #{record.resType,jdbcType=VARCHAR},
      </if>
      <if test="record.resState != null" >
        RES_STATE = #{record.resState,jdbcType=DECIMAL},
      </if>
      <if test="record.pid != null" >
        PID = #{record.pid,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.updateDate != null" >
        UPDATE_DATE = #{record.updateDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYS_RESOURCES
    set ID = #{record.id,jdbcType=DECIMAL},
      RES_NAME = #{record.resName,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      RES_TYPE = #{record.resType,jdbcType=VARCHAR},
      RES_STATE = #{record.resState,jdbcType=DECIMAL},
      PID = #{record.pid,jdbcType=DECIMAL},
      CREATE_DATE = #{record.createDate,jdbcType=DATE},
      UPDATE_DATE = #{record.updateDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yz.entity.Resources" >
    update T_SYS_RESOURCES
    <set >
      <if test="resName != null" >
        RES_NAME = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        RES_TYPE = #{resType,jdbcType=VARCHAR},
      </if>
      <if test="resState != null" >
        RES_STATE = #{resState,jdbcType=DECIMAL},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yz.entity.Resources" >
    update T_SYS_RESOURCES
    set RES_NAME = #{resName,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      RES_TYPE = #{resType,jdbcType=VARCHAR},
      RES_STATE = #{resState,jdbcType=DECIMAL},
      PID = #{pid,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.yz.entity.ResourcesExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_SYS_RESOURCES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="findResByRoleID" resultMap="BaseResultMap" parameterType="int" >
  	select sr.*, srr.role_id
 		 from t_sys_resources sr
  			left join t_sys_role_res srr on sr.id = srr.resource_id
                 and srr.role_id = #{roleid}
  	
  </select>
  
  
</mapper>